<!DOCTYPE html>
<html>
  <head>
    <title>User preferences</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{ url_for('static', filename='facebooksdk.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='customchat.js') }}"></script>
  </head>
  <body>
    <main>
      <img src="https://media.giphy.com/media/5wWf7GW1AzV6pF3MaVW/giphy.gif" title="High five" />
    </main>

      <h2>
        What do you like?
      </h2>
      <form id="preferencesForm" action="{{ url_for('broadcast_to_chatfuel') }}" method="post">
        <input type="checkbox" id="likes-bots" name="botsAttribute" value="yes">
        <label for="likes-bots">Bots</label>

        <input type="checkbox" id="likes-music" name="musicAttribute" value="yes">
        <label for="likes-music">Music</label>

        <input type="checkbox" id="likes-food" name="foodAttribute" value="yes">
        <label for="likes-food">Food</label>

        <input type="checkbox" id="likes-ghosts" name="ghostsAttribute" value="yes">
        <label for="likes-ghosts">Ghosts</label>

        <button type="submit">Submit</button>
      </form>



    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='closewebview.js') }}"></script>
    <div class="fb-customerchat" page_id="202341617310522" ref="WebinarRegistration">
    </div>
  </body>
</html>